/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: rgba(0, 0, 0, 0.87);
}

html {
    font-size: 1em;
    line-height: 1.4;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

ul {
    margin: 0;
}

header h1 {
    font-size: 24px;
    margin: 0;
    padding: 12px 24px;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#container header {
    background: #3f51b5;
    color: rgba(255, 255, 255, 0.87);
    flex: 0 0 auto;
}

#container footer {
    flex: 0 0 60px;
}

#main {
    background: #f9f9f9;
    display: flex;
    flex: 1 0 500px;
    flex-direction: row;
}

#folders {
    background: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.14);
    flex: 0 0 200px;
}

#folders ul {
    padding: 0;
}

#folders li {
    font-size: 16px;
    height: 48px;
    line-height: 24px;
    padding: 12px 24px 10px;
}

#editor, #editor .raw_container {
    box-shadow: 0 7px 5px -5px rgba(0, 0, 0, 0.26) inset; /* This fakes the drop shadow formed by the toolbar */
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
}

.document_gallery,
.page_gallery {
    padding: 5px;
}

.page_gallery {
    border-right: 1px solid rgba(0, 0, 0, 0.14);
    flex: 1 0 auto;
}

.document_gallery {
    flex: 0 1 50%;
    z-index: 0;
}

.page_gallery_page,
.document_gallery_new_document,
.document_gallery_document,
.document_gallery_document:before,
.document_gallery_document:after {
    vertical-align: top;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.14);
    display: inline-block;
    margin: 10px;
    padding: 6px;
    width: 80px;
    height: 113px;
}

.document_gallery_new_document,
.document_gallery_document {
    position: relative;
}
.document_gallery_new_document:before,
.document_gallery_new_document:after,
.document_gallery_document:before,
.document_gallery_document:after {
    content: "";
    position: absolute;
    margin: 0;
    padding: 0;
}
.document_gallery_new_document:before,
.document_gallery_document:before {
    top: -4px;
    left: -4px;
    z-index: -1;
}
.document_gallery_new_document:after,
.document_gallery_document:after {
    top: -7px;
    left: -7px;
    z-index: -2;
}

.document_gallery_new_document.droppable,
.document_gallery_new_document.droppable:before,
.document_gallery_new_document.droppable:after,
.document_gallery_document.droppable,
.document_gallery_document.droppable:before,
.document_gallery_document.droppable:after {
    border-color: #c5cae9;
}

.page_gallery_page {
    z-index: 1;
}

.page_gallery_page.dragged {
    opacity: 0.5;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
